{% extends 'adminapp/base.html' %}

{% block content %}
    <h1 class="mt-4">Создание товара</h1>
    <form action="{% url 'admin_staff:admin_products_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="small mb-1" for="{{ form.category.id_for_label }}">Категория товара</label>
                    {{ form.category }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6">
                <label class="small mb-1" for="{{ form.title.id_for_label }}">Наименование товара</label>
                {{ form.title }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6">
                <label class="small mb-1" for="{{ form.short_description.id_for_label }}">Наименование товара</label>
                {{ form.short_description }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6">
                <label class="small mb-1" for="{{ form.description.id_for_label }}">Наименование товара</label>
                {{ form.description }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6">
                <label class="small mb-1" for="{{ form.price.id_for_label }}">Наименование товара</label>
                {{ form.price }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6">
                <label class="small mb-1" for="{{ form.quantity.id_for_label }}">Наименование товара</label>
                {{ form.quantity }}
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col-lg-6">
                <div class="custom-file">
                    {{ form.image }}
                    <label class="custom-file-label" for="{{ form.image.id_for_label }}">Выберите изображение</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6">
                <label class="small mb-1" for="{{ form.is_active.id_for_label }}">Товар в продаже?</label>
                {{ form.is_active }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-12" style="margin-top: 33px;">
                <input class="btn btn-info btn-block" type="submit" value="Сохранить">
            </div>
        </div>
    </form>
{% endblock %}