{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block content %}
    <div class="category_delete text-center">
        <div class="h1">Уверены, что хотите удалить?</div>
        {% include 'orderapp/_inc/inc_order_summary.html' %}
        <form action="{% url 'ordersapp:order_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        <button class="btn btn-success">
            <a href="{% url 'order:orders' %}">отмена</a>
        </button>
        </form>
    </div>
{% endblock %}
